DB_HOST=localhost
DB_NAME=cloud_storage
DB_USER=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
UPLOAD_MAX_SIZE=2147483648

MAIL_HOST=smtp.yandex.ru
MAIL_PORT=465
MAIL_USERNAME=your@email.com
MAIL_PASSWORD=your_password
MAIL_ENCRYPTION=ssl
MAIL_FROM=your@email.com
MAIL_FROM_NAME="Cloud Storage"
FRONTEND_URL=http://frontend.local